# DATABASE_URL="postgresql://cahyonoahmad_user:cahyonoahmad@localhost:5433?cahyonoahmad_db"
DATABASE_URL="postgresql://neondb_owner:npg_pRcW3tgwxDu0@ep-jolly-tooth-adibsvgv-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
# DATABASE_URL="postgresql://admin:admin@localhost:5434/cahynoahmad_db"
JWT_SECRET="dkfjieuriejenfdcudh8943rfefrfdfmncrfhvcrfnvrgy8rnvjkrhv789rhv"
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=dev.milonhossain32@gmail.com
SMTP_PASS=nzjcxeagvpohjuop

STRIPE_SECRET_KEY="sk_test_51RpBlQCiM0crZsfwVk32w5zlltJXLprEkVvyD9TV79CH3BpVn4jooXv6sh9SaonXW7isHwY3rlqJifwquT4qJ3VO00wTyR0yYQ"
STRIPE_WEBHOOK_KEY="whsec_xCqIv09l79FgqbcoMRXjJwdDBNngRfON"


PRICE_ID="price_1RuIseCiM0crZsfwqv3vZZGj"

SUCCES_URL="http://localhost:3000/success"
CANCEL_URL="http://localhost:3000/cancel"

BASE_URL=http://localhost:3000
SERVER_BASE_URL=http://localhost:5000/api