DATABASE_URL="postgresql://neondb_owner:npg_v5qpGAuSQV8o@ep-rough-forest-a1md8xgt-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="dkfjieuriejenfdcudh8943rfefrfdfmncrfhvcrfnvrgy8rnvjkrhv789rhv"
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password

WEBHOOK_SECRET=whsec_3skigjeWzn7FBJ00wKNRbZPeNS9p6nrU
STRIPE_SECRET="sk_test_51RpBlQCiM0crZsfwVk32w5zlltJXLprEkVvyD9TV79CH3BpVn4jooXv6sh9SaonXW7isHwY3rlqJifwquT4qJ3VO00wTyR0yYQ"


#cloudinary
CLOUDINARY_NAME=dkq4ukddu
CLOUDINARY_API_KEY=169439968164981
CLOUDINARY_API_SECRET=_bA1N2n0QJw-a4nn9jXQSgtbQLI

AI_URL=http://45.61.60.162:8003